.dashboard-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.dashboard-inventory-management-dashboard {
  width: 100%;
  height: 900px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 3px 6px 0px rgba(18, 15, 40, 0.11999999731779099) ;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(250, 250, 251, 1);
}
.dashboard-text {
  top: 116px;
  left: 419px;
  color: rgba(23, 26, 31, 1);
  width: 651px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: left;
  font-family: Lexend;
  font-weight: 700;
  line-height: 68px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-container24 {
  top: 230px;
  left: 51px;
  width: 825px;
  height: 543px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(222, 225, 230, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-text02 {
  top: 24px;
  left: 32px;
  color: rgba(50, 55, 67, 1);
  width: 283px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-text04 {
  top: 75px;
  left: 32px;
  color: rgba(111, 119, 135, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-table1 {
  top: 127px;
  left: 29px;
  width: 765px;
  height: 306px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(222, 225, 230, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0);
}
.dashboard-row {
  top: 0px;
  left: 0px;
  width: 765px;
  height: 102px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.dashboard-frame {
  top: 0px;
  left: 572.25px;
  width: 193px;
  height: 102px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(222, 225, 230, 1);
  border-style: solid;
  border-width: 1px 0;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-slider {
  top: 40px;
  left: 31.875px;
  width: 129px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.dashboard-frame01 {
  top: 8px;
  left: 0px;
  width: 129px;
  height: 6px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 3px;
  background-color: rgba(211, 193, 250, 1);
}
.dashboard-frame02 {
  top: 0px;
  left: 356px;
  width: 216px;
  height: 102px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(222, 225, 230, 1);
  border-style: solid;
  border-width: 1px 0;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-tag {
  top: 37px;
  left: 16px;
  width: 45px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.dashboard-frame03 {
  top: 0px;
  left: 0px;
  width: 45px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(55, 154, 230, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0);
}
.dashboard-text06 {
  top: 4px;
  left: 8px;
  color: rgba(55, 154, 230, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-frame04 {
  top: 0px;
  left: 58.25px;
  width: 298px;
  height: 102px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(222, 225, 230, 1);
  border-style: solid;
  border-width: 1px 0;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-text08 {
  top: 29px;
  left: 16px;
  color: rgba(23, 26, 31, 1);
  width: 264px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-text10 {
  top: 53px;
  left: 16px;
  color: rgba(86, 93, 109, 1);
  width: 264px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-frame05 {
  top: 0px;
  left: 0px;
  width: 58px;
  height: 102px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(222, 225, 230, 1);
  border-style: solid;
  border-width: 1px 0;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-arrowupright {
  top: 39px;
  left: 17.125px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.dashboard-row1 {
  top: 102px;
  left: 0px;
  width: 765px;
  height: 102px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.dashboard-frame06 {
  top: 0px;
  left: 0px;
  width: 58px;
  height: 102px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(222, 225, 230, 1);
  border-style: solid;
  border-width: 1px 0;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-create {
  top: 39px;
  left: 17.125px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.dashboard-frame07 {
  top: 0px;
  left: 356px;
  width: 216px;
  height: 102px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(222, 225, 230, 1);
  border-style: solid;
  border-width: 1px 0;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-tag1 {
  top: 37px;
  left: 16px;
  width: 151px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.dashboard-frame08 {
  top: 0px;
  left: 0px;
  width: 78px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(125, 102, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0);
}
.dashboard-text12 {
  top: 4px;
  left: 8px;
  color: rgba(125, 102, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-frame09 {
  top: 0px;
  left: 82px;
  width: 69px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(125, 102, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0);
}
.dashboard-text14 {
  top: 4px;
  left: 8px;
  color: rgba(125, 102, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-frame10 {
  top: 0px;
  left: 58.25px;
  width: 298px;
  height: 102px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(222, 225, 230, 1);
  border-style: solid;
  border-width: 1px 0;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-text16 {
  top: 29px;
  left: 16px;
  color: rgba(23, 26, 31, 1);
  width: 264px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-text18 {
  top: 53px;
  left: 16px;
  color: rgba(86, 93, 109, 1);
  width: 264px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-frame11 {
  top: 0px;
  left: 572.25px;
  width: 193px;
  height: 102px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(222, 225, 230, 1);
  border-style: solid;
  border-width: 1px 0;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-slider1 {
  top: 40px;
  left: 31.375px;
  width: 130px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.dashboard-frame12 {
  top: 8px;
  left: 0px;
  width: 130px;
  height: 6px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 3px;
  background-color: rgba(211, 193, 250, 1);
}
.dashboard-rectangle {
  top: 0px;
  left: 0px;
  width: 43px;
  height: 6px;
  position: absolute;
}
.dashboard-row2 {
  top: 204px;
  left: 0px;
  width: 765px;
  height: 102px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.dashboard-frame13 {
  top: 0px;
  left: 356px;
  width: 216px;
  height: 102px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(222, 225, 230, 1);
  border-style: solid;
  border-width: 1px 0;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-tag2 {
  top: 37px;
  left: 16px;
  width: 182px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.dashboard-frame14 {
  top: 0px;
  left: 0px;
  width: 78px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(17, 123, 52, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0);
}
.dashboard-text20 {
  top: 4px;
  left: 8px;
  color: rgba(17, 123, 52, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-frame15 {
  top: 0px;
  left: 82px;
  width: 65px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(17, 123, 52, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0);
}
.dashboard-text22 {
  top: 4px;
  left: 8px;
  color: rgba(17, 123, 52, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-frame16 {
  top: 0px;
  left: 151px;
  width: 31px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(17, 123, 52, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0);
}
.dashboard-text24 {
  top: 4px;
  left: 8px;
  color: rgba(17, 123, 52, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-frame17 {
  top: 0px;
  left: 572.25px;
  width: 193px;
  height: 102px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(222, 225, 230, 1);
  border-style: solid;
  border-width: 1px 0;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-slider2 {
  top: 40px;
  left: 31.875px;
  width: 129px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.dashboard-frame18 {
  top: 8px;
  left: 0px;
  width: 129px;
  height: 6px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 3px;
  background-color: rgba(211, 193, 250, 1);
}
.dashboard-rectangle1 {
  top: 0px;
  left: 0px;
  width: 129px;
  height: 6px;
  position: absolute;
}
.dashboard-frame19 {
  top: 0px;
  left: 58.25px;
  width: 298px;
  height: 102px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(222, 225, 230, 1);
  border-style: solid;
  border-width: 1px 0;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-text26 {
  top: 29px;
  left: 16px;
  color: rgba(23, 26, 31, 1);
  width: 264px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-text28 {
  top: 53px;
  left: 16px;
  color: rgba(86, 93, 109, 1);
  width: 264px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-frame20 {
  top: 0px;
  left: 0px;
  width: 58px;
  height: 102px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(222, 225, 230, 1);
  border-style: solid;
  border-width: 1px 0;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-create1 {
  top: 39px;
  left: 17.125px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.dashboard-button33 {
  top: 62px;
  left: 716px;
  width: 78px;
  height: 36px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(144, 149, 161, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-text30 {
  top: 7px;
  left: 34px;
  color: rgba(144, 149, 161, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-filteralt {
  top: 10px;
  left: 12px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.dashboard-textbox5 {
  top: 62px;
  left: 368px;
  width: 331px;
  height: 35px;
  display: flex;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(144, 149, 161, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-text32 {
  top: 7px;
  left: 34px;
  color: rgba(189, 193, 202, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-search {
  top: 10px;
  left: 12px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.dashboard-button331 {
  top: 463px;
  left: 32px;
  width: 313px;
  height: 52px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(144, 149, 161, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-text34 {
  top: 12px;
  left: 109.5px;
  color: rgba(144, 149, 161, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-viewstream {
  top: 14px;
  left: 77.5px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.dashboard-container241 {
  gap: 10px;
  top: 228px;
  left: 929px;
  width: 445px;
  display: flex;
  padding: 21px 27px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(222, 225, 230, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-button332 {
  width: 391px;
  height: 114px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(144, 149, 161, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-text36 {
  top: 43px;
  left: 149px;
  color: rgba(144, 149, 161, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-add {
  top: 45px;
  left: 117px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.dashboard-container242 {
  gap: 11px;
  top: 447.5px;
  left: 929px;
  width: 445px;
  height: 326px;
  display: flex;
  padding: 7px 34px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(222, 225, 230, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-text38 {
  color: rgba(50, 55, 67, 1);
  width: 283px;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Lexend;
  font-weight: 400;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-container243 {
  width: 377px;
  height: 231px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(222, 225, 230, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-line-chart1 {
  top: 17px;
  left: 25px;
  width: 328px;
  height: 196px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.dashboard-frame21 {
  top: 50px;
  left: 0px;
  width: 328px;
  height: 146px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.dashboard-frame22 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 146px;
  position: absolute;
}
.dashboard-frame23 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 146px;
  position: absolute;
}
.dashboard-frame24 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 146px;
  position: absolute;
}
.dashboard-frame25 {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 146px;
  position: absolute;
}
.dashboard-frame26 {
  top: 0px;
  left: 53.5px;
  width: 221px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.dashboard-group {
  top: 0px;
  left: 0px;
  width: 44px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-ellipse {
  top: 5px;
  left: 2.939152446204403e-15px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.dashboard-text40 {
  left: 16px;
  color: rgba(23, 26, 31, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-group01 {
  top: 0px;
  left: 64px;
  width: 52px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-ellipse1 {
  top: 5px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.dashboard-text42 {
  left: 16px;
  color: rgba(23, 26, 31, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-group02 {
  top: 0px;
  left: 135px;
  width: 34px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-ellipse2 {
  top: 5px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.dashboard-text44 {
  left: 16px;
  color: rgba(23, 26, 31, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-group03 {
  top: 0px;
  left: 188px;
  width: 34px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-ellipse3 {
  top: 5px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.dashboard-text46 {
  left: 16px;
  color: rgba(23, 26, 31, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-container73 {
  gap: 553px;
  top: -0.5px;
  left: 0px;
  width: 1440px;
  height: 63px;
  display: flex;
  padding: 1px 0;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-image59 {
  top: 6.5px;
  left: 10px;
  width: 111px;
  height: 49px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.dashboard-group04 {
  top: -0.032199859619140625px;
  left: -0.020198822021484375px;
  width: 112.15322875976562px;
  height: 49.055397033691406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-group05 {
  top: 0px;
  left: 0px;
  width: 112.15322875976562px;
  height: 49.055397033691406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-group06 {
  top: 0px;
  left: 0px;
  width: 112.15322875976562px;
  height: 49.055397033691406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-group07 {
  top: 0px;
  left: 0px;
  width: 112.15322875976562px;
  height: 49.055397033691406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-c {
  top: 20.678800582885742px;
  left: 72.3948745727539px;
  width: 6.520257949829102px;
  height: 12.07859992980957px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 12px;
  position: absolute;
}
.dashboard-c01 {
  top: 20.678800582885742px;
  left: 31.35666275024414px;
  width: 6.520257949829102px;
  height: 12.07859992980957px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector01 {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 12px;
  position: absolute;
}
.dashboard-c02 {
  top: 12.263999938964844px;
  left: 79.6669921875px;
  width: 14.357650756835938px;
  height: 20.524599075317383px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector02 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 21px;
  position: absolute;
}
.dashboard-c03 {
  top: 12.65939998626709px;
  left: 6.622367858886719px;
  width: 12.631464004516602px;
  height: 20.56559944152832px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector03 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 21px;
  position: absolute;
}
.dashboard-c04 {
  top: 17.820598602294922px;
  left: 63.52173614501953px;
  width: 8.377342224121094px;
  height: 15.391400337219238px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector04 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 15px;
  position: absolute;
}
.dashboard-c05 {
  top: 20.727001190185547px;
  left: 49.616554260253906px;
  width: 14.513094902038574px;
  height: 12.078598022460938px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector05 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 12px;
  position: absolute;
}
.dashboard-c06 {
  top: 20.814800262451172px;
  left: 20.657325744628906px;
  width: 10.013545036315918px;
  height: 12.414799690246582px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector06 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 12px;
  position: absolute;
}
.dashboard-c07 {
  top: 20.7947998046875px;
  left: 93.99968719482422px;
  width: 9.98900032043457px;
  height: 12.414799690246582px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector07 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 12px;
  position: absolute;
}
.dashboard-c08 {
  top: 20.804798126220703px;
  left: 38.76127243041992px;
  width: 10.218070030212402px;
  height: 12.414800643920898px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector08 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 12px;
  position: absolute;
}
.dashboard-c09 {
  top: 0px;
  left: 19.326248168945312px;
  width: 12.61510181427002px;
  height: 16.752599716186523px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector09 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 17px;
  position: absolute;
}
.dashboard-c10 {
  top: 6.303800582885742px;
  left: 32.98699951171875px;
  width: 10.078990936279297px;
  height: 10.85680103302002px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector10 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 11px;
  position: absolute;
}
.dashboard-c11 {
  top: 6.303800582885742px;
  left: 58.772300720214844px;
  width: 10.078990936279297px;
  height: 10.85680103302002px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector11 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 11px;
  position: absolute;
}
.dashboard-c12 {
  top: 6.174999237060547px;
  left: 68.82300567626953px;
  width: 12.500566482543945px;
  height: 10.602599143981934px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector12 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 11px;
  position: absolute;
}
.dashboard-c13 {
  top: 6.273799896240234px;
  left: 44.096397399902344px;
  width: 7.223821640014648px;
  height: 10.864999771118164px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector13 {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 11px;
  position: absolute;
}
.dashboard-c14 {
  top: 3.2768001556396484px;
  left: 51.69159698486328px;
  width: 7.223821640014648px;
  height: 13.890800476074219px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector14 {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 14px;
  position: absolute;
}
.dashboard-c15 {
  top: 40.56159973144531px;
  left: 0px;
  width: 6.5447998046875px;
  height: 6.272998332977295px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector15 {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 6px;
  position: absolute;
}
.dashboard-c16 {
  top: 40.562400817871094px;
  left: 6.730033874511719px;
  width: 4.687712669372559px;
  height: 6.382412910461426px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector16 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 6px;
  position: absolute;
}
.dashboard-c17 {
  top: 42.18339920043945px;
  left: 12.121513366699219px;
  width: 4.671350955963135px;
  height: 4.657600402832031px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector17 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.dashboard-c18 {
  top: 42.14139938354492px;
  left: 16.79650115966797px;
  width: 4.221395969390869px;
  height: 4.821600914001465px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector18 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 5px;
  position: absolute;
}
.dashboard-c19 {
  top: 42.06420135498047px;
  left: 22.009414672851562px;
  width: 4.663168907165527px;
  height: 4.74779748916626px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector19 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.dashboard-c20 {
  top: 42.06431579589844px;
  left: 27.461294174194336px;
  width: 3.7059922218322754px;
  height: 4.863285064697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector20 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 5px;
  position: absolute;
}
.dashboard-c21 {
  top: 40.57160186767578px;
  left: 31.91902732849121px;
  width: 1.1535208225250244px;
  height: 6.281199932098389px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector21 {
  top: 0px;
  left: 0px;
  width: 1px;
  height: 6px;
  position: absolute;
}
.dashboard-c22 {
  top: 42.06420135498047px;
  left: 33.9779167175293px;
  width: 4.663167476654053px;
  height: 4.74779748916626px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector22 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.dashboard-c23 {
  top: 42.07719802856445px;
  left: 39.42706298828125px;
  width: 4.785887241363525px;
  height: 6.978198528289795px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector23 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 7px;
  position: absolute;
}
.dashboard-c24 {
  top: 42.064998626708984px;
  left: 48.07700729370117px;
  width: 3.1087794303894043px;
  height: 4.854401588439941px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector24 {
  top: 0px;
  left: 0px;
  width: 3px;
  height: 5px;
  position: absolute;
}
.dashboard-c25 {
  top: 42.06431579589844px;
  left: 51.905208587646484px;
  width: 3.7059950828552246px;
  height: 4.863285064697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector25 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 5px;
  position: absolute;
}
.dashboard-c26 {
  top: 40.57160186767578px;
  left: 56.413448333740234px;
  width: 1.153517723083496px;
  height: 6.281199932098389px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector26 {
  top: 0px;
  left: 0px;
  width: 1px;
  height: 6px;
  position: absolute;
}
.dashboard-c27 {
  top: 42.086795806884766px;
  left: 58.36324691772461px;
  width: 4.344115257263184px;
  height: 4.87080192565918px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector27 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 5px;
  position: absolute;
}
.dashboard-c28 {
  top: 42.06420135498047px;
  left: 63.47426223754883px;
  width: 4.614083290100098px;
  height: 4.74779748916626px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector28 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.dashboard-c29 {
  top: 42.06431579589844px;
  left: 68.87321472167969px;
  width: 3.7059922218322754px;
  height: 4.863285064697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector29 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 5px;
  position: absolute;
}
.dashboard-c30 {
  top: 42.086795806884766px;
  left: 73.05876159667969px;
  width: 4.344109058380127px;
  height: 4.87080192565918px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector30 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 5px;
  position: absolute;
}
.dashboard-c31 {
  top: 40.403202056884766px;
  left: 81.02613830566406px;
  width: 2.961524248123169px;
  height: 6.469799518585205px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector31 {
  top: 0px;
  left: 0px;
  width: 3px;
  height: 6px;
  position: absolute;
}
.dashboard-c32 {
  top: 42.11267852783203px;
  left: 83.70162963867188px;
  width: 4.761341571807861px;
  height: 4.846722602844238px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector32 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.dashboard-c33 {
  top: 42.10020065307617px;
  left: 89.2452163696289px;
  width: 2.691549777984619px;
  height: 4.750001907348633px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector33 {
  top: 0px;
  left: 0px;
  width: 3px;
  height: 5px;
  position: absolute;
}
.dashboard-c34 {
  top: 40.56979751586914px;
  left: 95.59568786621094px;
  width: 1.1207993030548096px;
  height: 6.272998332977295px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector34 {
  top: 0px;
  left: 0px;
  width: 1px;
  height: 6px;
  position: absolute;
}
.dashboard-c35 {
  top: 40.57160186767578px;
  left: 97.72053527832031px;
  width: 1.1535240411758423px;
  height: 6.281199932098389px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector35 {
  top: 0px;
  left: 0px;
  width: 1px;
  height: 6px;
  position: absolute;
}
.dashboard-c36 {
  top: 40.403202056884766px;
  left: 99.64044189453125px;
  width: 2.9615180492401123px;
  height: 6.469799518585205px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector36 {
  top: 0px;
  left: 0px;
  width: 3px;
  height: 6px;
  position: absolute;
}
.dashboard-c37 {
  top: 42.086795806884766px;
  left: 102.51853942871094px;
  width: 4.344109058380127px;
  height: 4.87080192565918px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector37 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 5px;
  position: absolute;
}
.dashboard-c38 {
  top: 40.50699996948242px;
  left: 107.44097900390625px;
  width: 4.712251663208008px;
  height: 2.230401039123535px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector38 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 2px;
  position: absolute;
}
.dashboard-avatar2 {
  top: 3.5px;
  left: 664px;
  width: 44px;
  height: 44px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 22px;
  background-color: rgba(211, 193, 250, 1);
}
.dashboard-rectangle2 {
  top: 0px;
  left: 0px;
  width: 44px;
  height: 44px;
  position: absolute;
}
.dashboard-container20 {
  top: 17.5px;
  left: 1262px;
  width: 109px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(30, 33, 40, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(253, 250, 238, 1);
}
.dashboard-text48 {
  left: 26px;
  color: rgba(50, 55, 67, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Manrope;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-line2 {
  top: 62px;
  left: 0px;
  width: 1440px;
  height: 1px;
  position: absolute;
}
.dashboard-container74 {
  gap: 553px;
  top: -0.5px;
  left: 0px;
  width: 1440px;
  height: 63px;
  display: flex;
  padding: 1px 0;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-image591 {
  top: 6.5px;
  left: 10px;
  width: 111px;
  height: 49px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.dashboard-group08 {
  top: -0.032199859619140625px;
  left: -0.020198822021484375px;
  width: 112.15322875976562px;
  height: 49.055397033691406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-group09 {
  top: 0px;
  left: 0px;
  width: 112.15322875976562px;
  height: 49.055397033691406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-group10 {
  top: 0px;
  left: 0px;
  width: 112.15322875976562px;
  height: 49.055397033691406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-group11 {
  top: 0px;
  left: 0px;
  width: 112.15322875976562px;
  height: 49.055397033691406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-c39 {
  top: 20.678800582885742px;
  left: 72.3948745727539px;
  width: 6.520257949829102px;
  height: 12.07859992980957px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector39 {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 12px;
  position: absolute;
}
.dashboard-c40 {
  top: 20.678800582885742px;
  left: 31.35666275024414px;
  width: 6.520257949829102px;
  height: 12.07859992980957px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector40 {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 12px;
  position: absolute;
}
.dashboard-c41 {
  top: 12.263999938964844px;
  left: 79.6669921875px;
  width: 14.357650756835938px;
  height: 20.524599075317383px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector41 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 21px;
  position: absolute;
}
.dashboard-c42 {
  top: 12.65939998626709px;
  left: 6.622367858886719px;
  width: 12.631464004516602px;
  height: 20.56559944152832px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector42 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 21px;
  position: absolute;
}
.dashboard-c43 {
  top: 17.820598602294922px;
  left: 63.52173614501953px;
  width: 8.377342224121094px;
  height: 15.391400337219238px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector43 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 15px;
  position: absolute;
}
.dashboard-c44 {
  top: 20.727001190185547px;
  left: 49.616554260253906px;
  width: 14.513094902038574px;
  height: 12.078598022460938px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector44 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 12px;
  position: absolute;
}
.dashboard-c45 {
  top: 20.814800262451172px;
  left: 20.657325744628906px;
  width: 10.013545036315918px;
  height: 12.414799690246582px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector45 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 12px;
  position: absolute;
}
.dashboard-c46 {
  top: 20.7947998046875px;
  left: 93.99968719482422px;
  width: 9.98900032043457px;
  height: 12.414799690246582px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector46 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 12px;
  position: absolute;
}
.dashboard-c47 {
  top: 20.804798126220703px;
  left: 38.76127243041992px;
  width: 10.218070030212402px;
  height: 12.414800643920898px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector47 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 12px;
  position: absolute;
}
.dashboard-c48 {
  top: 0px;
  left: 19.326248168945312px;
  width: 12.61510181427002px;
  height: 16.752599716186523px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector48 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 17px;
  position: absolute;
}
.dashboard-c49 {
  top: 6.303800582885742px;
  left: 32.98699951171875px;
  width: 10.078990936279297px;
  height: 10.85680103302002px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector49 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 11px;
  position: absolute;
}
.dashboard-c50 {
  top: 6.303800582885742px;
  left: 58.772300720214844px;
  width: 10.078990936279297px;
  height: 10.85680103302002px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector50 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 11px;
  position: absolute;
}
.dashboard-c51 {
  top: 6.174999237060547px;
  left: 68.82300567626953px;
  width: 12.500566482543945px;
  height: 10.602599143981934px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector51 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 11px;
  position: absolute;
}
.dashboard-c52 {
  top: 6.273799896240234px;
  left: 44.096397399902344px;
  width: 7.223821640014648px;
  height: 10.864999771118164px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector52 {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 11px;
  position: absolute;
}
.dashboard-c53 {
  top: 3.2768001556396484px;
  left: 51.69159698486328px;
  width: 7.223821640014648px;
  height: 13.890800476074219px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector53 {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 14px;
  position: absolute;
}
.dashboard-c54 {
  top: 40.56159973144531px;
  left: 0px;
  width: 6.5447998046875px;
  height: 6.272998332977295px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector54 {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 6px;
  position: absolute;
}
.dashboard-c55 {
  top: 40.562400817871094px;
  left: 6.730033874511719px;
  width: 4.687712669372559px;
  height: 6.382412910461426px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector55 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 6px;
  position: absolute;
}
.dashboard-c56 {
  top: 42.18339920043945px;
  left: 12.121513366699219px;
  width: 4.671350955963135px;
  height: 4.657600402832031px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector56 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.dashboard-c57 {
  top: 42.14139938354492px;
  left: 16.79650115966797px;
  width: 4.221395969390869px;
  height: 4.821600914001465px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector57 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 5px;
  position: absolute;
}
.dashboard-c58 {
  top: 42.06420135498047px;
  left: 22.009414672851562px;
  width: 4.663168907165527px;
  height: 4.74779748916626px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector58 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.dashboard-c59 {
  top: 42.06431579589844px;
  left: 27.461294174194336px;
  width: 3.7059922218322754px;
  height: 4.863285064697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector59 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 5px;
  position: absolute;
}
.dashboard-c60 {
  top: 40.57160186767578px;
  left: 31.91902732849121px;
  width: 1.1535208225250244px;
  height: 6.281199932098389px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector60 {
  top: 0px;
  left: 0px;
  width: 1px;
  height: 6px;
  position: absolute;
}
.dashboard-c61 {
  top: 42.06420135498047px;
  left: 33.9779167175293px;
  width: 4.663167476654053px;
  height: 4.74779748916626px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector61 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.dashboard-c62 {
  top: 42.07719802856445px;
  left: 39.42706298828125px;
  width: 4.785887241363525px;
  height: 6.978198528289795px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector62 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 7px;
  position: absolute;
}
.dashboard-c63 {
  top: 42.064998626708984px;
  left: 48.07700729370117px;
  width: 3.1087794303894043px;
  height: 4.854401588439941px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector63 {
  top: 0px;
  left: 0px;
  width: 3px;
  height: 5px;
  position: absolute;
}
.dashboard-c64 {
  top: 42.06431579589844px;
  left: 51.905208587646484px;
  width: 3.7059950828552246px;
  height: 4.863285064697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector64 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 5px;
  position: absolute;
}
.dashboard-c65 {
  top: 40.57160186767578px;
  left: 56.413448333740234px;
  width: 1.153517723083496px;
  height: 6.281199932098389px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector65 {
  top: 0px;
  left: 0px;
  width: 1px;
  height: 6px;
  position: absolute;
}
.dashboard-c66 {
  top: 42.086795806884766px;
  left: 58.36324691772461px;
  width: 4.344115257263184px;
  height: 4.87080192565918px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector66 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 5px;
  position: absolute;
}
.dashboard-c67 {
  top: 42.06420135498047px;
  left: 63.47426223754883px;
  width: 4.614083290100098px;
  height: 4.74779748916626px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector67 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.dashboard-c68 {
  top: 42.06431579589844px;
  left: 68.87321472167969px;
  width: 3.7059922218322754px;
  height: 4.863285064697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector68 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 5px;
  position: absolute;
}
.dashboard-c69 {
  top: 42.086795806884766px;
  left: 73.05876159667969px;
  width: 4.344109058380127px;
  height: 4.87080192565918px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector69 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 5px;
  position: absolute;
}
.dashboard-c70 {
  top: 40.403202056884766px;
  left: 81.02613830566406px;
  width: 2.961524248123169px;
  height: 6.469799518585205px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector70 {
  top: 0px;
  left: 0px;
  width: 3px;
  height: 6px;
  position: absolute;
}
.dashboard-c71 {
  top: 42.11267852783203px;
  left: 83.70162963867188px;
  width: 4.761341571807861px;
  height: 4.846722602844238px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector71 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.dashboard-c72 {
  top: 42.10020065307617px;
  left: 89.2452163696289px;
  width: 2.691549777984619px;
  height: 4.750001907348633px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector72 {
  top: 0px;
  left: 0px;
  width: 3px;
  height: 5px;
  position: absolute;
}
.dashboard-c73 {
  top: 40.56979751586914px;
  left: 95.59568786621094px;
  width: 1.1207993030548096px;
  height: 6.272998332977295px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector73 {
  top: 0px;
  left: 0px;
  width: 1px;
  height: 6px;
  position: absolute;
}
.dashboard-c74 {
  top: 40.57160186767578px;
  left: 97.72053527832031px;
  width: 1.1535240411758423px;
  height: 6.281199932098389px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector74 {
  top: 0px;
  left: 0px;
  width: 1px;
  height: 6px;
  position: absolute;
}
.dashboard-c75 {
  top: 40.403202056884766px;
  left: 99.64044189453125px;
  width: 2.9615180492401123px;
  height: 6.469799518585205px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector75 {
  top: 0px;
  left: 0px;
  width: 3px;
  height: 6px;
  position: absolute;
}
.dashboard-c76 {
  top: 42.086795806884766px;
  left: 102.51853942871094px;
  width: 4.344109058380127px;
  height: 4.87080192565918px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector76 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 5px;
  position: absolute;
}
.dashboard-c77 {
  top: 40.50699996948242px;
  left: 107.44097900390625px;
  width: 4.712251663208008px;
  height: 2.230401039123535px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-vector77 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 2px;
  position: absolute;
}
.dashboard-avatar21 {
  top: 6px;
  left: 669px;
  width: 44px;
  height: 44px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 22px;
  background-color: rgba(211, 193, 250, 1);
}
.dashboard-rectangle3 {
  top: 0px;
  left: 0px;
  width: 44px;
  height: 44px;
  position: absolute;
}
.dashboard-container201 {
  top: 17.5px;
  left: 1262px;
  width: 109px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(30, 33, 40, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(253, 250, 238, 1);
}
.dashboard-text50 {
  left: 26px;
  color: rgba(50, 55, 67, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Manrope;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-line21 {
  top: 62px;
  left: 0px;
  width: 1440px;
  height: 1px;
  position: absolute;
}
