<!DOCTYPE html>
<html lang="english"
  ><head
    ><title>ViewHistory - exported project</title
    ><meta property="og:title" content="ViewHistory - exported project" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="css/style.css" /><div
      ><link href="css/view-history.css" rel="stylesheet" /><div
        class="view-history-container"
        ><div class="view-history-frame-inventory-plans"
          ><span class="view-history-text"><span>Diagnosis History</span></span
          ><button class="view-history-button73"
            ><span class="view-history-text02"></span
            ><img
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              alt="Apps1546"
              class="view-history-apps" /></button
          ><button class="view-history-button74"
            ><span class="view-history-text03"></span
            ><img
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              alt="Bulletlist671553"
              class="view-history-bulletlist67" /></button
          ><button class="view-history-button75"
            ><span class="view-history-text04"><span>Filter</span></span
            ><img
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              alt="Filteralt1562"
              class="view-history-filteralt" /></button
          ><span class="view-history-text06"><span>Group by:</span></span
          ><button class="view-history-button"
            ><span class="view-history-text08"><span>Status</span></span
            ><img
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              alt="Chevrondownlarge1568"
              class="view-history-chevrondownlarge" /></button
          ><div class="view-history-textbox20"
            ><span class="view-history-text10"><span>Search</span></span
            ><img
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              alt="Search1572"
              class="view-history-search" /></div
          ><button class="view-history-button1"
            ><img
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              alt="Arrowleft1576"
              class="view-history-arrowleft"
            /><span class="view-history-text12"
              ><span>Back To Dashboard</span></span
            ></button
          ><div class="view-history-container84"
            ><div class="view-history-table5"
              ><div class="view-history-row"
                ><div class="view-history-frame"
                  ><div class="view-history-slider"
                    ><div class="view-history-frame01"></div></div></div
                ><div class="view-history-frame02"
                  ><span class="view-history-text14"
                    ><span>Diagnosis:</span></span
                  ><span class="view-history-text16"
                    ><span>MUSE_20180113_171327_27000</span></span
                  ></div
                ><div class="view-history-frame03"
                  ><div class="view-history-tag"
                    ><div class="view-history-frame04"
                      ><span class="view-history-text18"
                        ><span>Todo</span></span
                      ></div
                    ></div
                  ></div
                ><div class="view-history-frame05"
                  ><span class="view-history-text20"
                    ><span>TBD</span></span
                  ></div
                ></div
              ><div class="view-history-row1"
                ><div class="view-history-frame06"
                  ><span class="view-history-text22"
                    ><span>MUSE_20180112_073319_29000</span></span
                  ><span class="view-history-text24"
                    ><span>Diagnosis: In Progress</span></span
                  ></div
                ><div class="view-history-frame07"
                  ><div class="view-history-tag1"
                    ><div class="view-history-frame08"
                      ><span class="view-history-text26"
                        ><span>Processing</span></span
                      ></div
                    ></div
                  ></div
                ><div class="view-history-frame09"
                  ><span class="view-history-text28"
                    ><span>March 23, 2024</span></span
                  ></div
                ><div class="view-history-frame10"
                  ><div class="view-history-slider1"
                    ><div class="view-history-frame11"
                      ><img
                        src="https://play.teleporthq.io/static/svg/default-img.svg"
                        alt="Rectangle1618"
                        class="view-history-rectangle" /></div></div></div></div
              ><div class="view-history-row2"
                ><div class="view-history-frame12"
                  ><div class="view-history-slider2"
                    ><div class="view-history-frame13"
                      ><img
                        src="https://play.teleporthq.io/static/svg/default-img.svg"
                        alt="Rectangle1623"
                        class="view-history-rectangle1" /></div></div></div
                ><div class="view-history-frame14"
                  ><span class="view-history-text30"
                    ><span>MUSE_20180111_165520_97000</span></span
                  ><span class="view-history-text32"
                    ><span>Diagnosis: Sinoatrial Dysfunction</span></span
                  ></div
                ><div class="view-history-frame15"
                  ><div class="view-history-tag2"
                    ><div class="view-history-frame16"
                      ><span class="view-history-text34"
                        ><span>Completed</span></span
                      ></div
                    ><div class="view-history-frame17"
                      ><span class="view-history-text36"
                        ><span>XGBoost</span></span
                      ></div
                    ><div class="view-history-frame18"
                      ><span class="view-history-text38"
                        ><span>SA</span></span
                      ></div
                    ></div
                  ></div
                ><div class="view-history-frame19"
                  ><span class="view-history-text40"
                    ><span>March 05, 2024</span></span
                  ></div
                ></div
              ><div class="view-history-row3"
                ><div class="view-history-frame20"
                  ><div class="view-history-slider3"
                    ><div class="view-history-frame21"
                      ><img
                        src="https://play.teleporthq.io/static/svg/default-img.svg"
                        alt="Rectangle1641"
                        class="view-history-rectangle2" /></div></div></div
                ><div class="view-history-frame22"
                  ><span class="view-history-text42"
                    ><span>MUSE_20180114_114902_42000</span></span
                  ><span class="view-history-text44"
                    ><span>Diagnosis: Atrial Fibrillation</span></span
                  ></div
                ><div class="view-history-frame23"
                  ><span class="view-history-text46"
                    ><span>March 01, 2024</span></span
                  ></div
                ><div class="view-history-frame24"
                  ><div class="view-history-tag3"
                    ><div class="view-history-frame25"
                      ><span class="view-history-text48"
                        ><span>Completed</span></span
                      ></div
                    ><div class="view-history-frame26"
                      ><span class="view-history-text50"
                        ><span>Timesnet</span></span
                      ></div
                    ><div class="view-history-frame27"
                      ><span class="view-history-text52"
                        ><span>AFIB</span></span
                      ></div
                    ></div
                  ></div
                ></div
              ><div class="view-history-header"
                ><div class="view-history-frame28"
                  ><span class="view-history-text54"
                    ><span>Name</span></span
                  ></div
                ><div class="view-history-frame29"
                  ><span class="view-history-text56"
                    ><span>Diagnosis Date</span></span
                  ></div
                ><div class="view-history-frame30"
                  ><span class="view-history-text58"
                    ><span>Status</span></span
                  ></div
                ><div class="view-history-frame31"
                  ><span class="view-history-text60"
                    ><span>Progress bar</span></span
                  ></div
                ></div
              ></div
            ><span class="view-history-text62"
              ><span class="view-history-text63">Show </span
              ><span class="view-history-text64">1 </span
              ><span class="view-history-text65">to</span
              ><span class="view-history-text66"> 4</span
              ><span class="view-history-text67"> of 20</span></span
            ></div
          ><button class="view-history-button2"
            ><span class="view-history-text68"
              ><span>Previous</span></span
            ></button
          ><button class="view-history-button3"
            ><span class="view-history-text70"><span>Next</span></span></button
          ><div class="view-history-container75"
            ><div class="view-history-image59"
              ><div class="view-history-group"
                ><div class="view-history-group1"
                  ><div class="view-history-group2"
                    ><div class="view-history-group3"
                      ><div class="view-history-c"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7373"
                          class="view-history-vector" /></div
                      ><div class="view-history-c01"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7375"
                          class="view-history-vector01" /></div
                      ><div class="view-history-c02"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7377"
                          class="view-history-vector02" /></div
                      ><div class="view-history-c03"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7379"
                          class="view-history-vector03" /></div
                      ><div class="view-history-c04"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7381"
                          class="view-history-vector04" /></div
                      ><div class="view-history-c05"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7383"
                          class="view-history-vector05" /></div
                      ><div class="view-history-c06"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7385"
                          class="view-history-vector06" /></div
                      ><div class="view-history-c07"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7387"
                          class="view-history-vector07" /></div
                      ><div class="view-history-c08"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7389"
                          class="view-history-vector08" /></div
                      ><div class="view-history-c09"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7391"
                          class="view-history-vector09" /></div
                      ><div class="view-history-c10"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7393"
                          class="view-history-vector10" /></div
                      ><div class="view-history-c11"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7395"
                          class="view-history-vector11" /></div
                      ><div class="view-history-c12"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7397"
                          class="view-history-vector12" /></div
                      ><div class="view-history-c13"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7399"
                          class="view-history-vector13" /></div
                      ><div class="view-history-c14"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7401"
                          class="view-history-vector14" /></div
                      ><div class="view-history-c15"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7403"
                          class="view-history-vector15" /></div
                      ><div class="view-history-c16"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7405"
                          class="view-history-vector16" /></div
                      ><div class="view-history-c17"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7407"
                          class="view-history-vector17" /></div
                      ><div class="view-history-c18"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7409"
                          class="view-history-vector18" /></div
                      ><div class="view-history-c19"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7411"
                          class="view-history-vector19" /></div
                      ><div class="view-history-c20"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7413"
                          class="view-history-vector20" /></div
                      ><div class="view-history-c21"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7415"
                          class="view-history-vector21" /></div
                      ><div class="view-history-c22"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7417"
                          class="view-history-vector22" /></div
                      ><div class="view-history-c23"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7419"
                          class="view-history-vector23" /></div
                      ><div class="view-history-c24"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7421"
                          class="view-history-vector24" /></div
                      ><div class="view-history-c25"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7423"
                          class="view-history-vector25" /></div
                      ><div class="view-history-c26"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7425"
                          class="view-history-vector26" /></div
                      ><div class="view-history-c27"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7427"
                          class="view-history-vector27" /></div
                      ><div class="view-history-c28"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7429"
                          class="view-history-vector28" /></div
                      ><div class="view-history-c29"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7431"
                          class="view-history-vector29" /></div
                      ><div class="view-history-c30"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7433"
                          class="view-history-vector30" /></div
                      ><div class="view-history-c31"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7435"
                          class="view-history-vector31" /></div
                      ><div class="view-history-c32"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7437"
                          class="view-history-vector32" /></div
                      ><div class="view-history-c33"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7439"
                          class="view-history-vector33" /></div
                      ><div class="view-history-c34"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7441"
                          class="view-history-vector34" /></div
                      ><div class="view-history-c35"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7443"
                          class="view-history-vector35" /></div
                      ><div class="view-history-c36"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7445"
                          class="view-history-vector36" /></div
                      ><div class="view-history-c37"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7447"
                          class="view-history-vector37" /></div
                      ><div class="view-history-c38"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7449"
                          class="view-history-vector38" /></div></div></div></div></div></div
            ><div class="view-history-avatar2"
              ><img
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                alt="Rectangle7451"
                class="view-history-rectangle3" /></div
            ><div class="view-history-container20"
              ><span class="view-history-text72"
                ><span>Log Out</span></span
              ></div
            ><img
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              alt="Line27454"
              class="view-history-line2" /></div></div></div
    ></div> </body
></html>
