<!DOCTYPE html>
<html lang="english"
  ><head
    ><title>NewDiagnosis - exported project</title
    ><meta property="og:title" content="NewDiagnosis - exported project" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="css/style.css" /><div
      ><link href="css/new-diagnosis.css" rel="stylesheet" /><div
        class="new-diagnosis-container"
        ><div class="new-diagnosis-inventory-management-dashboard"
          ><span class="new-diagnosis-text"
            ><span> Javed Legacy</span></span
          ><div class="new-diagnosis-container24"
            ><span class="new-diagnosis-text02"
              ><span>Diagnosis History </span></span
            ><span class="new-diagnosis-text04"
              ><span>This month (3)</span></span
            ><div class="new-diagnosis-table1"
              ><div class="new-diagnosis-row"
                ><div class="new-diagnosis-frame"
                  ><div class="new-diagnosis-slider"
                    ><div class="new-diagnosis-frame01"></div></div></div
                ><div class="new-diagnosis-frame02"
                  ><div class="new-diagnosis-tag"
                    ><div class="new-diagnosis-frame03"
                      ><span class="new-diagnosis-text06"
                        ><span>Todo</span></span
                      ></div
                    ></div
                  ></div
                ><div class="new-diagnosis-frame04"
                  ><span class="new-diagnosis-text08"
                    ><span>MUSE_20180113_171327_27000</span></span
                  ><span class="new-diagnosis-text10"
                    ><span>Diagnosis: </span></span
                  ></div
                ><div class="new-diagnosis-frame05"
                  ><img
                    src="https://play.teleporthq.io/static/svg/default-img.svg"
                    alt="arrowupright1421"
                    class="new-diagnosis-arrowupright" /></div></div
              ><div class="new-diagnosis-row1"
                ><div class="new-diagnosis-frame06"
                  ><img
                    src="https://play.teleporthq.io/static/svg/default-img.svg"
                    alt="create1427"
                    class="new-diagnosis-create" /></div
                ><div class="new-diagnosis-frame07"
                  ><div class="new-diagnosis-tag1"
                    ><div class="new-diagnosis-frame08"
                      ><span class="new-diagnosis-text12"
                        ><span>Processing</span></span
                      ></div
                    ><div class="new-diagnosis-frame09"
                      ><span class="new-diagnosis-text14"
                        ><span>Timesnet</span></span
                      ></div
                    ></div
                  ></div
                ><div class="new-diagnosis-frame10"
                  ><span class="new-diagnosis-text16"
                    ><span>MUSE_20180112_073319_29000</span></span
                  ><span class="new-diagnosis-text18"
                    ><span>Diagnosis: In Progress</span></span
                  ></div
                ><div class="new-diagnosis-frame11"
                  ><div class="new-diagnosis-slider1"
                    ><div class="new-diagnosis-frame12"
                      ><img
                        src="https://play.teleporthq.io/static/svg/default-img.svg"
                        alt="Rectangle1443"
                        class="new-diagnosis-rectangle" /></div></div></div></div
              ><div class="new-diagnosis-row2"
                ><div class="new-diagnosis-frame13"
                  ><div class="new-diagnosis-tag2"
                    ><div class="new-diagnosis-frame14"
                      ><span class="new-diagnosis-text20"
                        ><span>Completed</span></span
                      ></div
                    ><div class="new-diagnosis-frame15"
                      ><span class="new-diagnosis-text22"
                        ><span>XGBoost</span></span
                      ></div
                    ><div class="new-diagnosis-frame16"
                      ><span class="new-diagnosis-text24"
                        ><span>SA</span></span
                      ></div
                    ></div
                  ></div
                ><div class="new-diagnosis-frame17"
                  ><div class="new-diagnosis-slider2"
                    ><div class="new-diagnosis-frame18"
                      ><img
                        src="https://play.teleporthq.io/static/svg/default-img.svg"
                        alt="Rectangle1456"
                        class="new-diagnosis-rectangle1" /></div></div></div
                ><div class="new-diagnosis-frame19"
                  ><span class="new-diagnosis-text26"
                    ><span>MUSE_20180111_165520_97000</span></span
                  ><span class="new-diagnosis-text28"
                    ><span>Diagnosis: Sinoatrial Dysfunction</span></span
                  ></div
                ><div class="new-diagnosis-frame20"
                  ><img
                    src="https://play.teleporthq.io/static/svg/default-img.svg"
                    alt="create1461"
                    class="new-diagnosis-create1" /></div></div></div
            ><button class="new-diagnosis-button33"
              ><span class="new-diagnosis-text30"><span>Filter</span></span
              ><img
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                alt="Filteralt1466"
                class="new-diagnosis-filteralt" /></button
            ><div class="new-diagnosis-textbox5"
              ><span class="new-diagnosis-text32"><span>Search</span></span
              ><img
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                alt="Search1471"
                class="new-diagnosis-search" /></div
            ><button class="new-diagnosis-button331"
              ><span class="new-diagnosis-text34"
                ><span>View All History</span></span
              ><img
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                alt="Viewstream1475"
                class="new-diagnosis-viewstream" /></button></div
          ><div class="new-diagnosis-container241"
            ><button class="new-diagnosis-button332"
              ><span class="new-diagnosis-text36"
                ><span> New Diagnosis</span></span
              ><img
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                alt="Add1480"
                class="new-diagnosis-add" /></button></div
          ><div class="new-diagnosis-container242"
            ><div class="new-diagnosis-container243"
              ><div class="new-diagnosis-line-chart1"
                ><div class="new-diagnosis-frame21"
                  ><img
                    src="https://play.teleporthq.io/static/svg/default-img.svg"
                    alt="Frame1487"
                    class="new-diagnosis-frame22" /><img
                    src="https://play.teleporthq.io/static/svg/default-img.svg"
                    alt="Frame1494"
                    class="new-diagnosis-frame23" /><img
                    src="https://play.teleporthq.io/static/svg/default-img.svg"
                    alt="Frame1501"
                    class="new-diagnosis-frame24" /><img
                    src="https://play.teleporthq.io/static/svg/default-img.svg"
                    alt="Frame1508"
                    class="new-diagnosis-frame25" /></div
                ><div class="new-diagnosis-frame26"
                  ><div class="new-diagnosis-group"
                    ><img
                      src="https://play.teleporthq.io/static/svg/default-img.svg"
                      alt="Ellipse1516"
                      class="new-diagnosis-ellipse"
                    /><span class="new-diagnosis-text38"
                      ><span>AFIB</span></span
                    ></div
                  ><div class="new-diagnosis-group1"
                    ><img
                      src="https://play.teleporthq.io/static/svg/default-img.svg"
                      alt="Ellipse1518"
                      class="new-diagnosis-ellipse1"
                    /><span class="new-diagnosis-text40"
                      ><span>GSVT</span></span
                    ></div
                  ><div class="new-diagnosis-group2"
                    ><img
                      src="https://play.teleporthq.io/static/svg/default-img.svg"
                      alt="Ellipse1520"
                      class="new-diagnosis-ellipse2"
                    /><span class="new-diagnosis-text42"
                      ><span>SB</span></span
                    ></div
                  ><div class="new-diagnosis-group3"
                    ><img
                      src="https://play.teleporthq.io/static/svg/default-img.svg"
                      alt="Ellipse1522"
                      class="new-diagnosis-ellipse3"
                    /><span class="new-diagnosis-text44"
                      ><span>SR</span></span
                    ></div
                  ></div
                ></div
              ></div
            ><span class="new-diagnosis-text46"
              ><span>Model Report</span></span
            ></div
          ><div class="new-diagnosis-container75"
            ><div class="new-diagnosis-image59"
              ><div class="new-diagnosis-group4"
                ><div class="new-diagnosis-group5"
                  ><div class="new-diagnosis-group6"
                    ><div class="new-diagnosis-group7"
                      ><div class="new-diagnosis-c"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7284"
                          class="new-diagnosis-vector" /></div
                      ><div class="new-diagnosis-c01"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7286"
                          class="new-diagnosis-vector01" /></div
                      ><div class="new-diagnosis-c02"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7288"
                          class="new-diagnosis-vector02" /></div
                      ><div class="new-diagnosis-c03"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7290"
                          class="new-diagnosis-vector03" /></div
                      ><div class="new-diagnosis-c04"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7292"
                          class="new-diagnosis-vector04" /></div
                      ><div class="new-diagnosis-c05"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7294"
                          class="new-diagnosis-vector05" /></div
                      ><div class="new-diagnosis-c06"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7296"
                          class="new-diagnosis-vector06" /></div
                      ><div class="new-diagnosis-c07"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7298"
                          class="new-diagnosis-vector07" /></div
                      ><div class="new-diagnosis-c08"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7300"
                          class="new-diagnosis-vector08" /></div
                      ><div class="new-diagnosis-c09"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7302"
                          class="new-diagnosis-vector09" /></div
                      ><div class="new-diagnosis-c10"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7304"
                          class="new-diagnosis-vector10" /></div
                      ><div class="new-diagnosis-c11"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7306"
                          class="new-diagnosis-vector11" /></div
                      ><div class="new-diagnosis-c12"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7308"
                          class="new-diagnosis-vector12" /></div
                      ><div class="new-diagnosis-c13"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7310"
                          class="new-diagnosis-vector13" /></div
                      ><div class="new-diagnosis-c14"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7312"
                          class="new-diagnosis-vector14" /></div
                      ><div class="new-diagnosis-c15"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7314"
                          class="new-diagnosis-vector15" /></div
                      ><div class="new-diagnosis-c16"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7316"
                          class="new-diagnosis-vector16" /></div
                      ><div class="new-diagnosis-c17"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7318"
                          class="new-diagnosis-vector17" /></div
                      ><div class="new-diagnosis-c18"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7320"
                          class="new-diagnosis-vector18" /></div
                      ><div class="new-diagnosis-c19"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7322"
                          class="new-diagnosis-vector19" /></div
                      ><div class="new-diagnosis-c20"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7324"
                          class="new-diagnosis-vector20" /></div
                      ><div class="new-diagnosis-c21"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7326"
                          class="new-diagnosis-vector21" /></div
                      ><div class="new-diagnosis-c22"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7328"
                          class="new-diagnosis-vector22" /></div
                      ><div class="new-diagnosis-c23"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7330"
                          class="new-diagnosis-vector23" /></div
                      ><div class="new-diagnosis-c24"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7332"
                          class="new-diagnosis-vector24" /></div
                      ><div class="new-diagnosis-c25"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7334"
                          class="new-diagnosis-vector25" /></div
                      ><div class="new-diagnosis-c26"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7336"
                          class="new-diagnosis-vector26" /></div
                      ><div class="new-diagnosis-c27"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7338"
                          class="new-diagnosis-vector27" /></div
                      ><div class="new-diagnosis-c28"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7340"
                          class="new-diagnosis-vector28" /></div
                      ><div class="new-diagnosis-c29"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7342"
                          class="new-diagnosis-vector29" /></div
                      ><div class="new-diagnosis-c30"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7344"
                          class="new-diagnosis-vector30" /></div
                      ><div class="new-diagnosis-c31"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7346"
                          class="new-diagnosis-vector31" /></div
                      ><div class="new-diagnosis-c32"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7348"
                          class="new-diagnosis-vector32" /></div
                      ><div class="new-diagnosis-c33"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7350"
                          class="new-diagnosis-vector33" /></div
                      ><div class="new-diagnosis-c34"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7352"
                          class="new-diagnosis-vector34" /></div
                      ><div class="new-diagnosis-c35"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7354"
                          class="new-diagnosis-vector35" /></div
                      ><div class="new-diagnosis-c36"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7356"
                          class="new-diagnosis-vector36" /></div
                      ><div class="new-diagnosis-c37"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7358"
                          class="new-diagnosis-vector37" /></div
                      ><div class="new-diagnosis-c38"
                        ><img
                          src="https://play.teleporthq.io/static/svg/default-img.svg"
                          alt="Vector7360"
                          class="new-diagnosis-vector38" /></div></div></div></div></div></div
            ><div class="new-diagnosis-avatar2"
              ><img
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                alt="Rectangle7362"
                class="new-diagnosis-rectangle2" /></div
            ><div class="new-diagnosis-container20"
              ><span class="new-diagnosis-text48"
                ><span>Log Out</span></span
              ></div
            ><img
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              alt="Line27365"
              class="new-diagnosis-line2" /></div
          ><div class="new-diagnosis-container71"
            ><span class="new-diagnosis-text50"><span>New Diagnosis</span></span
            ><div class="new-diagnosis-textbox18"
              ><span class="new-diagnosis-text52"><span>Timesnet</span></span
              ><img
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                alt="Unfoldmore1530"
                class="new-diagnosis-unfoldmore" /></div
            ><img
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              alt="Line151532"
              class="new-diagnosis-line15" /><button
              class="new-diagnosis-button67"
              ><span class="new-diagnosis-text54"
                ><span>Start Diagnosis</span></span
              ></button
            ><button class="new-diagnosis-button"
              ><span class="new-diagnosis-text56"
                ><span>Upload Data (.csv)</span></span
              ><img
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                alt="Attachfile1536"
                class="new-diagnosis-attachfile" /></button
            ><span class="new-diagnosis-text58"><span>Model Type</span></span
            ><img
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              alt="Settingsgear51540"
              class="new-diagnosis-settingsgear5" /></div></div></div
    ></div> </body
></html>
